.container {
    display: flex;
}
.left-side {
    flex: 2;
    background-color: #fff; /* Light grey background for analytics */
    padding: 20px;
}

.right-side {
    flex: 1;
    background-color: #fff; /* White background for events and announcements */
    padding: 20px;
    border-radius: 5px;
}

.img-container {
    text-align: center;
}

.center-container img {
    max-width: 100%; /* Ensure the image does not exceed the viewport width */
    max-height: 100%; /* Ensure the image does not exceed the viewport height */
}

.card-title {
    font-weight: bold;
}

.body-text {
    font-weight: bold;
    color: #5c5690;
}