.input-group-text {
    width: 35%;
    word-wrap: break-word;
}

.card {
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card a {
    text-decoration: None;
    color: black;
}

.card:hover {
    transform: scale(1.02);
}