.button-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .approve-button,
  .reject-button {
    flex: 1.5;
    margin: 5px;
  }
  
  @media (max-width: 600px) {
    .button-container {
      flex-direction: column;
    }
  }
  