<!DOCTYPE html>
{% extends "sidebar.html" %}
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/event_list.css' %}">
</head>
<style>

</style>
<br />
<div class="container container-fluid">
{% if request.user.role in 'STUDENT' %}
{% for part in events %}
<br />
<div class="card">
  <a href="{% url 'event-detail' part.event.id %}">
    <div class="card-header">
      <strong>{% if part.event.c_name %}{{part.event.c_name}} <br> {% endif %} {{part.event.e_name}}</strong>
    </div>
  </a>

  <div class="card-body">
    Date: {{part.event.start.date}} <br />
    Venue: {{part.event.venue}}
  </div>

  <!-- Take attendance button if attendance is not submitted and event attendance is enabled -->

  {% if part.attendance != 1 and part.event.attendance == 1 %}
  <form method="POST">
    {% csrf_token %}
    <div class="card-footer">
      <input id="event_id" name="event_id" value="{{part.event.id}}" hidden />
      <button type="submit" class="btn btn-primary" name="attendance"
        onclick='return confirm("Confirm to take attendance for {{part.event.e_name}}?")'>
        Take Attendance
      </button>
    </div>
  </form>
  {% elif part.attendance == 1 %}
  <div class="card-footer">
    <input id="event_id" name="event_id" value="{{part.event.id}}" hidden />
    <button type="button" class="btn btn-primary" name="attendance" disabled>
      Attendance Submitted
    </button>
  </div>
  {% endif %}
</div>
{% endfor %}
{% for part in reg_events %}
<br />

<div class="card">
  <a href="{% url 'event-detail' part.event.id %}">
    <div class="card-header">
      <strong>{% if part.event.c_name %}{{part.event.c_name}}<br>{% endif %} {{part.event.e_name}}</strong>
    </div>
  </a>

  <div class="card-body">
    Date: {{part.event.start.date}} <br />
    Venue: {{part.event.venue}}
  </div>
  <div class="card-footer">

    {% if part.attendance == 1 %}
    <button type="button" class="btn btn-primary" name="attendance" disabled>
      Attendance Submitted
    </button>
    {% else %}
    {% if part.event.attendance == 1 %}
    <button type="button" class="btn btn-primary" name="attendance" disabled>
      Take Attendance
    </button>

    {% else %}
    <button type="button" class="btn btn-primary" name="attendance" disabled>
      Attendance Disabled
    </button>
    {% endif %}
    {% endif %}
  </div>


</div>
{% endfor %}
</div>
<br>
{% elif request.user.role in 'SUPER ADMIN' %}

<form method="POST">
  {% csrf_token %}
  <table class="table table-responsive">
    <thead class="table-secondary">
      <tr>
        <th>Event Name</th>
        <th>Year</th>
        <th>Current Status</th>
      </tr>
    </thead>
    <tbody>
      {% for event in all_event %}
      <tr>
        <td><a href="{% url 'admin-attendance' event.id %}">{{event.e_name}}</a></td>
        <td>{{event.year}}</td>
        <td>
          {% if event in att_event %}
          <span class="badge rounded-pill badge-success">Enabled</span>
          {% else %}
          <span class="badge rounded-pill badge-danger">Disabled</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
</form>
{% endif %}


{% endblock %}