{% extends "sidebar.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<script>
    function val_pass(input) {
        if (input.value === document.getElementById('new_pw').value) {
            
            input.setCustomValidity('');
        }
        else {
            
            input.setCustomValidity('Passwords must be match.');
        }
    
    }
</script>
<div class="container">
    <form method="POST" style='margin:0 auto; max-width:500px;'>
        {% csrf_token %}
        <div class="mb-3">
            <h3><stong><center>Change Password</center></h3><strong>
        </div>
        <div class="input-group mb-4">
            
                <span class="input-group-text">Old Password</span>
          
            <input type="password" class="form-control" id="old_pw" name="old_pw" required>
        </div>
        <div class="input-group mb-4">
                <span class="input-group-text">New Password</span>
            <input type="password" class="form-control" id="new_pw" name="new_pw" onchange="" required>
        </div>
        <div class="input-group mb-4">
                <span class="input-group-text">Confirm Password</span>
            <input type="password" class="form-control" id="confirm_pw" name="confirm_pw" onchange="val_pass(this)" required>
        </div>
        <div class="row custom_margin_top">
            <button type='submit' class='btn btn-outline-primary' style='width:95%; margin:10px auto;' onsubmit="return validate()">Submit</button>
        </div>

    </form>
<div>

{% endblock %}