{% extends "sidebar.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<style>
    .container {
        margin:0 auto; 
        max-width:500px;
        border-radius: 10px;
        padding: 50px;
    }

</style>

<div class="container container-fluid border">
    <form method="POST" >
        {% csrf_token %}
        <h3><center>Change Password</center></h3>
        <br>
        <div class="form-outline">
            <input type="password" class="form-control" id="old_pw" name="old_pw" required>
            <label class="form-label" for="old_pw" style="margin-left: 0px;">Old Password</label>
            <div class="form-notch">
            <div class="form-notch-leading" style="width: 9px;"></div>
            <div class="form-notch-middle" style="width: 60px;"></div>
            <div class="form-notch-trailing"></div>
            </div>
        </div> 
        <br>
        <div class="form-outline">
            <input type="password" class="form-control" id="new_pw" name="new_pw" required>
            <label class="form-label" for="new_pw" style="margin-left: 0px;">New Password</label>
            <div class="form-notch">
            <div class="form-notch-leading" style="width: 9px;"></div>
            <div class="form-notch-middle" style="width: 60px;"></div>
            <div class="form-notch-trailing"></div>
            </div>
        </div> 
        <br>
        <div class="form-outline">
            <input type="password" class="form-control" id="confirm_pw" name="confirm_pw" required>
            <label class="form-label" for="confirm_pw" style="margin-left: 0px;">Confirm Password</label>
            <div class="form-notch">
            <div class="form-notch-leading" style="width: 9px;"></div>
            <div class="form-notch-middle" style="width: 60px;"></div>
            <div class="form-notch-trailing"></div>
            </div>
        </div> 
        <br>

        
        <div class="row custom_margin_top">
            <button type='submit' class='btn btn-outline-primary' style='width:95%; margin:10px auto;'>Change Password</button>
        </div>

    </form>
<div>

{% endblock %}