{% extends "sidebar.html" %}
{% block content %}
{% load static %}

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

    <script>
      $(document).ready(function() {
          // Function to toggle the class based on window width
          function toggleClassBasedOnWidth() {
              var windowWidth = $(window).width();
              var $container = $("#flex-container");
              var $right = $("#right");
              var $card1 = $("#card1");
              var $card2 = $("#card2");
              var $card3 = $("#card3");
              var $card4 = $("#card4");
              if (windowWidth > 1200) {
                  $container.css('display', 'flex');
                  $right.css('display', 'flex');
                  $card1.css('width', '');
                  $card2.css('width', '');
                  $card3.css('width', '');
                  $card4.css('width', '');
              } else {
                  $container.css('display', 'block');
                  $right.css('display', 'block');
                  $card1.css('width', '100%');
                  $card2.css('width', '100%');
                  $card3.css('width', '100%');
                  $card4.css('width', '100%');
              }
          }
          
          // Call the function on page load
          toggleClassBasedOnWidth();
          
          // Bind the function to the window resize event
          $(window).resize(function() {
              toggleClassBasedOnWidth();
          });
      });
    
  </script>
  
</head>

<h1> Dashboard </h1>
<br>

<div id="flex-container" class="container">
  <div class="left-side" style="display:flex;">
    <div class="card profile-card">
        <div class="card-header">
            <h4 class="card-title">My Profile</h4>
        </div>
        <div class="card-body">
            <sub>Name</sub>
            <p><strong>{{lecturer.user.full_name}}</strong></p>
            <sub>Position</sub>
            <p><strong>{{lecturer.get_position_display}}</strong></p>
            <sub>Email</sub>
            <p><strong>{{lecturer.user.email}}</strong></p>
            <sub>Contact</sub>
            <p><strong>{{lecturer.user.contact}}</strong></p>
            <sub>Address</sub>
            <p><strong>{{lecturer.user.address}}</strong></p>
        </div>
        <div class="card-footer">
            <center>
                <a href="{% url 'edit-profile' lecturer.user.id %}">Edit Profile Details</a>
            </center>
        </div>
    </div>

    <div class="gap"></div>

    <div id="right" class="info-cards">
      <div id="card1" class="card info-card card1">
        <div class="card-body">
          <center>
            <div class="card-text">
              <h1><i class="fa-solid fa-graduation-cap" style="color: #6151fb"></i></h1>
              <strong>
                <p class="info-title">Bachelor of Arts<br>Chinese Studies</p>
              </strong>
              <h3>{{undergrad}}</h3>
            </div>
          </center>
        </div>
      </div>
      <div id="card2" class="card info-card card2">
        <div class="card-body">
          <center>
            <div class="card-text">
              <h1><i class="fa-solid fa-book" style="color: #ed1d4d"></i></h1>
              <strong>
                <p class="info-title">Master of Chinese Studies<br>(Coursework)</p>
              </strong>
              <h3>{{master_cw}}</h3>
            </div>
          </center>
        </div>
      </div>
      <div id="card3" class="card info-card card3">
        <div class="card-body">
          <center>
            <div class="card-text">
              <h1><i class="fa-solid fa-flask" style="color: #1b8be3"></i></h1>
              <strong>
                <p class="info-title">Master of Arts <br>(Research) </p>
              </strong>
              <h3>{{master_re}}</h3>
            </div>
          </center>
        </div>
      </div>
      <div id="card4" class="card info-card card4">
        <div class="card-body">
          <center>
            <div class="card-text">
              <h1><i class="fa-solid fa-clipboard-check" style="color: #ffa01f"></i></h1>
              <strong>
                <p class="info-title">Doctor of Philosophy<br>(Ph.D) </p>
              </strong>
              <h3>{{phd}}</h3>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>
  {% if events or announcements %}
  <div class="right-side">
    {% if events %}
    <div>
      <h5 class="fw-bold mb-1">Registered Events</h5>
      <a class="mb-0" href="{% url 'attendance' %}">View all</a>
    </div>

    {% for event in events %}
    <a href="{% url 'event-detail' event.id %}">
      <div class="card border border-info">
        <div class="card-body">
          <p><strong>{{event.e_name}}</strong>
            <br>{{event.start.date}}
          </p>
        </div>
      </div>
    </a>
    <br>
    {% endfor %}

    {% endif %}

    {% if announcements %}
    <div>
      <h5 class="fw-bold mb-1">Announcements</h5>
      <a class="mb-0" href="{% url 'announcements' %}">View all</a>
    </div>
    {% for ann in announcements %}
    <div class="card border border-info">
      <div class="card-header">
        <strong>{{ann.title}}</strong>
      </div>
      <div class="card-body">
        {{ann.content}}
      </div>
    </div>
    <br>
    {% endfor %}
    {% endif %}
  </div>
  {% endif %}
</div>

<br>


{% endblock %}