{% extends "sidebar.html" %}
{% block content %}
{% load static %}

<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

  <script>
    $(document).ready(function() {
        // Function to toggle the class based on window width
        function toggleClassBasedOnWidth() {
            var windowWidth = $(window).width();
            var $container = $("#flex-container");
            var $card1 = $("#card1");
            var $card2 = $("#card2");
            var $card3 = $("#card3");
            var $card4 = $("#card4");
            var $right = $("#right");
            if (windowWidth > 1200) {
                $container.css('display', 'flex');
                $right.css('display', 'flex');
                $card1.css('width', '');
                $card2.css('width', '');
                $card3.css('width', '');
                $card4.css('width', '');
            } else {
                $container.css('display', 'block');
                $right.css('display', 'block');
                $card1.css('width', '100%');
                $card2.css('width', '100%');
                $card3.css('width', '100%');
                $card4.css('width', '100%');
            }
        }
        
        // Call the function on page load
        toggleClassBasedOnWidth();
        
        // Bind the function to the window resize event
        $(window).resize(function() {
            toggleClassBasedOnWidth();
        });
    });
  
</script>
</head>
<div style="display: flex; align-items: center;">
  <div style="height: 10%; width: 30%;">
    <img class="img-fluid" src="{% static 'img/um_chinese_logo.png' %}" alt="UM Chinese Studies logo.">
  </div>
  <h1 style="margin-left: 10px;">Dashboard</h1>
</div>

<div id="flex-container" class="container">
  <div id="left-container" class="left-side" style="display:flex;">
      <div class="card profile-card">
        <div class="card-header">
          <h4 class="card-title">My Profile</h4>
        </div>
        <div class="card-body">
          <sub>Name</sub>
          <p><strong>{{student.user.full_name}}</strong></p>
          <sub>Matric Number</sub>
          <p><strong>{{student.matric_no}}</strong></p>
          <sub>Program</sub>
          <p><strong>{{student.get_program_display}}</strong></p>
          <sub>Enrolment</sub>
          <p><strong>Session {{student.enrol_sem.academic_year}} Semester {{student.enrol_sem.semester}}</strong></p>
          <sub>Graduation</sub>
          <p><strong>Session {{student.grad_sem.academic_year}} Semester {{student.grad_sem.semester}}</strong></p>
          <sub>Contact</sub>
          <p><strong>{{student.user.contact}}</strong></p>
          <sub>Address</sub>
          <p><strong>{{student.user.address}}</strong></p>
        </div>
        <div class="card-footer">
          <center>
            <a href="{% url 'edit-profile' student.user.id %}">Edit Profile Details</a>
          </center>
        </div>
      </div>

      <div class="gap"></div>
      {% if student.program == 1 %}
        <div id="right" class="info-cards">

          <div id="card1" class="card info-card card1">
            <div class="card-body">
              <center>
                <div class="card-text">
                  <h1><i class="fa-solid fa-calendar-check" style="color: #6151fb"></i></h1>
                  <strong>
                    <p class="info-title">Events<br>Participated </p>
                  </strong>
                  <h3>{{par_count}}</h3>
                </div>
              </center>
            </div>
          </div>

          <div id="card2" class="card info-card card2">
            <div class="card-body">
              <center>
                <div class="card-text">
                  <h1><i class="fa-solid fa-handshake" style="color: #ed1d4d"></i></h1>
                  <strong>
                    <p class="info-title">Event<br>Commitment</p>
                  </strong>
                  <h3>{{com_count}}</h3>
                </div>
              </center>
            </div>
          </div>
          
          
          <div id="card3" class="card info-card card3">
            <div class="card-body">
              <center>
                <div class="card-text">
                  <h1><i class="fa-solid fa-users" style="color: #1b8be3"></i></h1>
                  <strong>
                    <p class="info-title">Organisation<br>Commitment</p>
                  </strong>
                  <h3>{{org_count}}</h3>
                </div>
              </center>
            </div>
          </div>

          <div id="card4" class="card info-card card4">
            <div class="card-body">
              <center>
                <div class="card-text">
                  <h1><i class="fa-solid fa-file-lines" style="color: #ffa01f"></i></h1>
                  <strong>
                    <p class="info-title">Articles<br>Published </p>
                  </strong>
                  <h3>{{art_count}}</h3>
                </div>
              </center>
            </div>
          </div>

        </div>
      {% else %}
      <div class="info-cards">
        <div id="card1" class="card info-card card1">
          <div class="card-body">
            <center>
              <div class="card-text">
                <h1><i class="fa-solid fa-comments" style="color: #6151fb"></i></h1>
                <strong>
                  <p class="info-title">Seminar</p>
                </strong>
                <h3>{{seminar_count}}</h3>
              </div>
            </center>
          </div>
        </div>
        <div id="card2" class="card info-card card2">
          <div class="card-body">
            <center>
              <div class="card-text">
                <h1><i class="fa-solid fa-balance-scale" style="color: #ed1d4d"></i></h1>
                <strong>
                  <p class="info-title">PD/CD </p>
                </strong>
                <h3>{{pd_cd_count}}</h3>
              </div>
            </center>
          </div>
        </div>
        
        
        <div id="card3" class="card info-card card3">
          <div class="card-body">
            <center>
              <div class="card-text">
                <h1><i class="fa-solid fa-users" style="color: #1b8be3"></i></h1>
                <strong>
                  <p class="info-title">Conference </p>
                </strong>
                <h3>{{conf_count}}</h3>
              </div>
            </center>
          </div>
        </div>

        <div id="card4" class="card info-card card4">
          <div class="card-body">
            <center>
              <div class="card-text">
                <h1><i class="fa-solid fa-file-lines" style="color: #ffa01f"></i></h1>
                <strong>
                  <p class="info-title">Articles<br>Published </p>
                </strong>
                <h3>{{art_count}}</h3>
              </div>
            </center>
          </div>
        </div>
      </div>

      {% endif %}
  </div>
  {% if registered_event or announcements %}
  <div class="right-side">
    {% if registered_event %}
    <div>
      <h5 class="fw-bold mb-1">Registered Events</h5>
      <a class="mb-0" href="{% url 'attendance' %}">View all</a>
    </div>

    {% for event in registered_events %}
    <a href="{% url 'event-detail' event.id %}">
      <div class="card border border-info">
        <div class="card-body">
          <p><strong>{{event.e_name}}</strong>
            <br>{{event.start.date}}
          </p>
        </div>
      </div>
    </a>
    <br>
    {% endfor %}

    {% endif %}

    {% if announcements %}
    <div>
      <h5 class="fw-bold mb-1">Announcements</h5>
      <a class="mb-0" href="{% url 'announcements' %}">View all</a>
    </div>
    {% for ann in announcements %}
    <div class="card border border-info">
      <div class="card-header">
        <strong>{{ann.title}}</strong>
      </div>
      <div class="card-body">
        {{ann.content}}
      </div>
    </div>
    <br>
    {% endfor %}
    {% endif %}
  </div>
  {% endif %}
</div>

{% endblock %}