{% extends "sidebar.html" %}
{% block content %}
{% load static %}
<style>
    .custom-small-form-floating .form-floating {
      width: 200px; /* Set the desired width */
      height: 30px; /* Set the desired height */
    }
  
    .custom-small-form-floating .form-select {
      height: 50px; /* Adjust the input field height */
    }
  </style>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>

<div style="display: flex; align-items: center;">
    <div style="height: 10%; width: 30%;">
      <img class="img-fluid" src="{% static 'img/um_chinese_logo.png' %}" alt="UM Chinese Studies logo.">
    </div>
    <h1 style="margin-left: 10px;">Dashboard</h1>
  </div>
  
<div class="container contaner-fluid">
    <!-- <div class="dashboard"> -->
        <div class="left-side">
            <div class="container">
                <div class="left">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="custom-small-form-floating">
                            <div class="form-floating">
                                <select class="form-select form-select-sm" id="academic_year" name="academic_year"
                                    aria-label="Default select example" onchange="submit()">
                                    {% for semester in years %}
                                    <option value="{{semester.academic_year}}" 
                                        {% if semester.academic_year == selected_year.academic_year %} selected {% endif %}>
                                        {{semester.academic_year}}
                                    </option>
                                    {% endfor %}
                                </select>
                                <label for="academic_year">Academic Year</label>
                            </div>
                        </div>
                        <br>
                        <div class="custom-small-form-floating">
                            <div class="form-floating">
                                <select class="form-select form-select-sm" id="semester" name="semester"
                                    aria-label="Default select example" onchange="submit()">
                                    <option value="1" {% if selected_year.semester == 1 %} selected {% endif %}>1</option>
                                    <option value="2" {% if selected_year.semester == 2 %} selected {% endif %}>2</option>
                                </select>
                                <label for="semester">Semester</label>
                            </div>
                        </div>
                        <br>
                        <div class="custom-small-form-floating">
                            <div class="form-floating">
                                <!-- Student Study Level -->
                                <select class="form-select form-select-sm" id="study_level" name="study_level"
                                    aria-label="Default select example" onchange="submit()">
                                    <option value="All" {% if study_level == 'All' %} selected {% endif %}>All</option>
                                    <option value="1" {% if study_level == '1' %} selected {% endif %}>Bachelor of Arts Chinese Studies</option>
                                    <option value="2" {% if study_level == '2' %} selected {% endif %}>Master of Chinese Studies (Coursework)</option>
                                    <option value="3" {% if study_level == '3' %} selected {% endif %}>Master of Arts (Research)</option>
                                    <option value="4" {% if study_level == '4' %} selected {% endif %}>Doctor of Philosophy (Ph.D)</option>
                                </select>
                                <label for="study_level">Student Study Level</label>
                            </div>
                        </div>
                        <br>
                    </form>
                    <br>

                </div>
                <div class="gap"></div>
                <div class="right">              
                    <div class="card p-1 m-1 border border-primary">
                        <div class="card-body p-1 m-1" style="text-align: right;">
                            <div class="card-text p-1 m-1">
                                <h3 style="color: #2e4b7a">
                                    <i  class="fa-solid fa-graduation-cap"></i>
                                    {{num_active}}
                                </h3>
                                <sub>Active Students </sub>
                                <p>
                                    <strong>
                                        Year {{selected_year.academic_year}} Semester
                                        {{selected_year.semester}}
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="width: 5%;"></div>
                    <div class="card p-1 m-1 border border-primary">
                        <div class="card-body p-1 m-1" style="text-align: right;">
                            <div class="card-text p-1 m-1">
                                <h3 style="color: #2e4b7a">
                                    <i  class="fa-solid fa-calendar-check"></i>
                                    {{num_event}}
                                </h3>
                                <sub>Events Hosted </sub>
                                <p>
                                    <strong>
                                        Year {{selected_year.academic_year}} Semester
                                        {{selected_year.semester}}
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="width: 5%;"></div>
                    <div class="card p-1 m-1 border border-primary">
                        <div class="card-body p-1 m-1" style="text-align: right;">
                            <div class="card-text p-1 m-1">
                                <h3 style="color: #2e4b7a">
                                    <i  class="fa-solid fa-file-lines"></i>
                                    {{num_article}}
                                </h3>
                                <sub>Articles Submitted </sub>
                                <p>
                                    <strong>
                                        Year {{selected_year.academic_year}} Semester
                                        {{selected_year.semester}}
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <!-- <form method="POST">
                    {% csrf_token %}

                    <div class="form-floating">
                        <select class="form-select" id="event_select" name="event_name"
                            aria-label="Default select example" onchange="submit()">
                            {% for event in event_selection %}
                            <option value="{{event.e_name}}" {% if event.e_name == selected %} selected {% endif %}>
                                {{event.e_name}}
                            </option>
                            {% endfor %}
                        </select>
                        <label for="event_select">Select Event Name</label>
                    </div>
                </form> -->
                <div id="plotly-graph"></div>
            </div>
        </div>
        <div class="right-side">
            <div>
                <h5 class="fw-bold mb-1">Upcoming Events</h5>
                <a class="mb-0" href="{% url 'events' %}">View all</a>
            </div>
            {% for event in upcoming_events %}
            <a href="{% url 'event-detail' event.id %}">
            <div class="card p-1 m-1 border border-info">
                <div class="card-header p-1 m-1">
                    <strong>{{event.e_name}}</strong>
                </div>
                <div class="card-body p-1 m-1">
                    {{event.start.date}}
                </div>
            </div>
            </a>
            <br>
            {% endfor %}
            <div>
                <h5 class="fw-bold mb-1">Announcements</h5>
                <a class="mb-0" href="{% url 'announcements' %}">View all</a>
            </div>
            
            {% for ann in announcements %}
            <div class="card p-1 m-1 border border-info">
                <div class="card-header p-1 m-1">
                 <strong>{{ann.title}}</strong>
                </div>
                <div class="card-body p-1 m-1">
                    {{ann.content}}
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    <!-- </div> -->
</div>


<script>
    // Load the Plotly graph from the JSON data
    var graphData = {{ graph_json| safe }};
    Plotly.newPlot('plotly-graph', graphData);
</script>
{% endblock %}