{% extends "sidebar.html" %}
{% block content %}
<div class="container">
    <form method="POST" style='margin:0 auto; max-width:500px;'>
        {% csrf_token %}
        <div class="mb-3">
            <h3>
                <center>Edit Profile Details</center>
            </h3>
        </div>
        <div class="form-outline">
            <input type="text" class="form-control active" id="name" name="name" value="{{request.user.full_name}}" required>
            <label class="form-label" for="name" style="margin-left: 0px;">Full Name</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 60px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
        </div>
        <br>
        {% if request.user.role in 'STUDENT' %}
        <div class="form-outline">
            <input type="text" class="form-control active" id="matric" name="matric" value="{{student.matric_no}}" required> 
            <label class="form-label" for="matric" style="margin-left: 0px;">Matric Number</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 87.2px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
        </div>
        <br>
        <div class="form-floating">
        <select class="form-select" id="program" name="program" required>
            <option value="1" {% if student and student.program == 1 %} selected {% endif %}>Bachelor of Arts Chinese
                Studies</option>
            <option value="2" {% if student and student.program == 2 %} selected {% endif %}>Master of Chinese Studies
                (Coursework)</option>
            <option value="3" {% if student and student.program == 3 %} selected {% endif %}>Master of Arts (Research)
            </option>
            <option value="4" {% if student and student.program == 4 %} selected {% endif %}>Doctor of Philosophy
                (Ph.D)</option>   

        </select>
        <label for="program">Program</label>
        </div>
        <br>
        <div class="form-outline">
            <input class="form-control active" name="enrol_year" value="{{student.enrol_sem.academic_year}}">
            <label class="form-label" for="enrol_year" style="margin-left: 0px;">Enrolment Year (E.g. 2021/22)</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 160px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
        </div>
        <br>
      
        <div class="form-floating">
            <select class="form-select" id="enrol_sem" name="enrol_sem">        
                <option value="1" {% if student.enrol_sem.semester == 1 %}selected{% endif %}> 1 </option>
                <option value="2"{% if student.enrol_sem.semester == 2 %}selected{% endif %}> 2 </option>
            </select> 
            <label for="enrol_sem">Enrolment Semester</label>
        </div>
        <br>
        <div class="form-outline">
            <input class="form-control active" name="grad_year"value="{{student.grad_sem.academic_year}}">
            <label class="form-label" for="graduation_year" style="margin-left: 0px;">Graduation Year (E.g. 2021/22)</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 160px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
        </div>
        <br>
        <div class=form-floating>
            <select class="form-select" id="grad_sem" name="grad_sem">        
                <option value="1" {% if student.grad_sem.semester == 1 %}selected{% endif %}> 1 </option>
                <option value="2" {% if student.grad_sem.semester == 2 %}selected{% endif %}> 2 </option>
            </select> 
            <label for="enrol_sem">Graduation Semester</label>
        </div>
        <br>
        {% endif %}
        <div class="form-outline">
            <input type="text" class="form-control active" id="contact" name="contact" value="{{request.user.contact}}" required>
            <label class="form-label" for="contact" style="margin-left: 0px;">Contact Number</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 90px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
        </div>
        <br>
        <div class="form-outline">
            <input type="text" class="form-control active" id="address" name="address" value="{{request.user.address}}" required>
            <label class="form-label" for="address" style="margin-left: 0px;">Address</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 50px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
        </div>
        <br>
        {% if request.user.role in 'STUDENT' %}
        <div class="form-floating">
            <select class="form-select" id="lecturer" name="lecturer" required>
                {% for lecturer in lecturers %}
                <option value="{{lecturer.id}}" {% if student and student.lecturer_id == lecturer.id %} selected {% endif %}>{{lecturer.user.full_name}}</option>
                {% endfor %}
            </select>
            <label>Advisor</label>
        </div>
        {% elif request.user.role in 'LECTURER or HEAD OF DEPARTMENT' %}
        <div class="form-floating">
            <select class="form-select" id="position" name="position" required>
                {% for val,position in positions %}
                <option value="{{val}}" {% if lecturer and lecturer.position == val %} selected {% endif %}>{{position}}</option>
                {% endfor %}
            </select>
            <label>Position</label>
        </div>
        {% endif %}
        <div class="row custom_margin_top">
            <button type='submit' class='btn btn-outline-primary' style='width:95%; margin:10px auto;'>Submit</button>
        </div>
    </form>
</div>
{% endblock %}