<!DOCTYPE html>
{% extends "sidebar.html" %} 
{% block content %}
{% load static %}
<head>
<script>
  
  $(document).ready(function() {
    $('.reg_button').click(function() {
      var eventId = $(this).data('event-id');
      console.log(eventId)
      $('#reg_event_id').val(eventId);
    });
    
    $('.edit-button').click(function() {
      console.log()
      var eventId = $(this).data('event-id');
      console.log(eventId)
      var event_name_c = '';  // Initialize the event title variable
  
      // Make an AJAX request to retrieve the event details
      $.ajax({
        url: '/get-event-details/'+ eventId + '/',  // URL to your Django view for fetching event details
        type: 'GET',
        
        success: function(response) {
          event_id = response.id;  
          $('#event_id').val(event_id); 
          console.log(event_id)
          event_name_c = response.c_name;  
          $('#event_name_c').val(event_name_c); 
          event_name_e = response.e_name;  
          $('#event_name_e').val(event_name_e); 
          event_venue = response.venue;  
          $('#event_venue').val(event_venue); 
          event_start = response.start;     
          event_start = new Date (event_start)
          var formattedStart = event_start.toISOString().substring(0,16);
          $('#event_start').val(formattedStart); 
          event_end = response.end;     
          event_end = new Date (event_end)
          var formattedEnd = event_end.toISOString().substring(0,16);
          $('#event_end').val(formattedEnd); 
          event_speaker = response.speaker;  
          $('#event_speaker').val(event_speaker);
          var event_type = response.type;
          $('#event_type').val(event_type);
          var event_desc = response.desc;
          $('#event_desc').val(event_desc);
          var event_internal = response.internal          
          if (event_internal == true){
            event_internal='1'
          }
          else {
            event_internal='0'          }
          $('#event_internal').val(event_internal);
          var event_attendance = response.attendance          
          if (event_attendance == true){
            $('#enable').prop('checked',true);
          }
          // var on_time = response.on_time          
          // if (on_time == true){
          //   $('#on_time').prop('checked',true);
          // }
        },
        error: function(xhr, status, error) {
          console.log(error);  // Handle the error if necessary
        }
      });
    });
  });
  
</script>

<script>
  $(document).ready(function() {
    $('#search-input').on('keyup', function() {
      var searchText = $(this).val().toLowerCase();
      $('.card').each(function() {
        var cardHeader = $(this).find('.card-title').text().toLowerCase();
        if (cardHeader.includes(searchText)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });
  });
</script>

<h1>Upcoming Events</h1>
<br />

<div class="container container-fluid">
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <div class="input-group">
        <input id="search-input" type="text" class="form-control" placeholder="Search events...">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>



  <!-- Add Event Button for SUPER ADMIN -->
  {% if request.user.role in 'SUPER ADMIN' %}
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#event_modal"> 
      <i class="fa fa-calendar-plus"></i> &nbsp;
      Add Event 
    </button>
    <br>
   
    {% for event in events %}
      <br>
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <a class="card-text" href="{% url 'event-detail' event.id %}" style="vertical-align:middle;">
          <strong>{% if event.c_name %}{{event.c_name}}<br>{% endif %}  {{event.e_name}}</strong>
        </a>
          <!-- Edit Button for SUPER ADMIN -->
          <form method="POST">  
            {% csrf_token %}    
          <div class="button-container d-flex align-items-center">
            <a href="{% url 'admin-attendance' event.id %}" id="admin-attendance-button" class="btn btn-light" >
              <i class="fas fa-calendar-alt"></i>
            </a> 
            <button id="edit-button" type="button" class="edit-button btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#edit_modal" data-event-id="{{ event.id }}">
              <i class="fas fa-edit"></i>
            </button>  
            
              <input name="event_id" value={{event.id}} hidden>  
              <button class="btn btn-danger" type="submit" name="delete_event" onclick="return confirm('Confirm to delete {{event.e_name}}?')">
                <i class="fas fa-trash"></i>
              </button>  
            
          </div> 
        </form>     
        </div>
        <div class="card-body">
          Date: {{event.start.date}} <br />
          Venue: {{event.venue}}
        </div>
      </div>

    {% endfor %}
    <br>

  
  {% else %}
    <!-- Event List for Students -->
    {% for event,part in event_parts %}
      <br />
      <div class="card">
        <a href="{% url 'event-detail' event.id %}">
          <div class="card-header">
            <div class="card-title">
            <strong>{% if event.c_name %}{{event.c_name}}{% endif %} {{event.e_name}}</strong>
            </div>
          </div>
        </a>
        <div class="card-body">
          Date: {{event.start.date}} 
          <br>
          Venue: {{event.venue}}
        </div>  
        <div class="card-footer">   
          <!-- Register Button--> 
       
          {% if part.registered != 1 %}
            <button id="reg_button" type="button" class="reg_button btn btn-primary" name="reg_event" data-mdb-toggle="modal" data-mdb-target="#reg_event_modal" data-event-id="{{ event.id }}">
              Register
            </button>
          {% else %}
            <button type="button" class="btn btn-primary" name="reg_event" disabled>
              Registered
            </button>
          {% endif %}
        </div>
      </div>
    {% endfor %} 
    <br>
  {% endif %}

<!-- edit event details modal -->
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Event</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3">
            
            <input
              type="text"
              name="event_name_c"
              id="event_name_c"
              class="form-control"
              required
            />
            <label for="event_name_c">Event Name (C)</label>
          </div>
          <div class="form-floating mb-3">
            
            <input
              type="text"
              name="event_name_e"
              id="event_name_e"
              class="form-control"
              required
            />
            <label for="event_name_e">Event Name (E)</label>
          </div>
          <div class="form-floating mb-3">
        
            <input
              type="text"
              name="event_venue"
              id="event_venue"
              class="form-control"
              required
            />
            <label for="event_venue">Event Venue</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="datetime-local"
              name="event_start"
              id="event_start"
              class="form-control"
              required
            />
            <label for="event_start">Start</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="datetime-local"
              name="event_end"
              id="event_end"
              class="form-control"
              required
            />
            <label for="event_end">End</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              name="event_speaker"
              id="event_speaker"
              class="form-control"
            />
            <label for="event_speaker">Event Speaker</label>
          </div>
          <div class="form-floating mb-3">
            <select id="event_type" class="form-select" name="event_type" required>
            {% for val,type in option_obj %}
              <option value="{{val}}" >{{type}} </option>
            {% endfor %}
            </select>   
            <label for="event_type">Event Type:</label>            
        
          </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="event_desc"
              name="event_desc"
            ></textarea>
            <label for="event_desc">Event Desciption:</label>

          </div>
        
            <select
              id="event_internal"
              class="form-select"
              name="internal"
            >
              <option value="1">Internal</option>
              <option value="0">External</option>
            </select>
        <br>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="enable" name="enable">
            <label class="form-check-label" for="enable">Enable Attendance</label>
          </div>
          <br>
          <!-- <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="on_time" name="on_time">
            <label class="form-check-label" for="on_time">Attendance on Event Time Only</label>
          </div>
          <br> -->
          <input type="text" id="event_id" name="event_id" class="form-control" hidden>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
            Close
          </button>          
          <button type="submit" class="btn btn-primary" name="edit_event">
            Save changes
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</form>   


<!-- Add Event Modal -->
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal fade" id="event_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
          <button type="button" class="btn btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="form-floating mb-3">         
            <input
              type="text"
              name="event_name_c"
              id="event_name_c"
              class="form-control"
              required
            />
            <label for="event_name_c">Event Name (C)</label>
          </div>
          <div class="form-floating mb-3">
           
            <input
              type="text"
              name="event_name_e"
              id="event_name_e"
              class="form-control"
              required
            />
            <label for="event_name_e">Event Name (E)</label>
          </div>
          
          <div class="form-floating mb-3">
            <input
              type="text"
              name="event_venue"
              id="event_venue"
              class="form-control"
              required
            />
            <label for="event_venue">Event Venue</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="datetime-local"
              name="event_start"
              id="event_start"
              class="form-control"
              required
            />
            <label for="event_start">Start</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="datetime-local"
              name="event_end"
              id="event_end"
              class="form-control"
              required
            />
            <label for="event_end">End</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              name="event_speaker"
              id="event_speaker"
              class="form-control"
            />
            <label for="event_speaker">Event Speaker</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select" id="event_type" name="event_type"
            required>
              <option value="1">Seminar</option>
              <option value="2">Conference</option>
              <option value="3">Proposal Defense</option>
              <option value="4">Candidatual Defense</option>
              <option value="5">Freshman Month / Week</option>
              <option value="6">The Night of Chinese Studies Department</option>
              <option value="7">Creative Writing</option>
              <option value="8">Others</option>
            </select>
            <label for="event_type">Event Type:</label>
          </div>

      
       
          <div class="form-floating mb-3">
            <textarea class="form-control" id="event_desc" name="event_desc"></textarea>
            <label for="event_desc">Event Description</label>
          </div>

     
            <select
            id="internal"
              class="form-select"
              aria-label="Internal or External"
              name="internal"
            >
              <option value="1">Internal</option>
              <option value="0">External</option>
            </select>
    <br>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="enable" name="enable">
            <label class="form-check-label" for="enable">Enable Attendance</label>
          </div>
          <br>
          <!-- <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="on_time" name="on_time">
            <label class="form-check-label" for="on_time">Attendance on Event Time Only</label>
          </div>
          <br> -->
          <div>
            Upload Event Poster: <br>
            <input type="file" id="poster" name="poster">
          </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary" name="add_event">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

 <!-- Modal for Register Event -->
 <form method="POST">
  {% csrf_token %}
  <div class="modal fade" id="reg_event_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="register-title">Register Event</h5>
                  <button
                  type="button"
                  class="btn-close"
                  data-mdb-dismiss="modal"
                  aria-label="Close"
                  >
                  </button>
              </div>
              <div class="modal-body">
                  <p>Confirm to register in this event?</p>
              </div>
              <div class="modal-footer">
                <input id="reg_event_id" name="event_id" hidden />
                  <button type="submit" class="btn btn-success" name="register">Yes</button>
                  <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">No</button>
              </div>
          </div>
      </div>
  <div>
</form>

<br>

{% endblock %}
