{% extends "sidebar.html" %}
{% block content %}
{% load static %}

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
</head>

<br>


<div class="container">

    <div class="left-side">
        <div class="card profile-card">
            <div class="card-body">
                <h4 class="card-title">{{event.c_name}}</h4>
                <h4 class="card-title">{{event.e_name}}</h4>
            </div>
        </div>
        <br>
        {% if event.desc %}
        <div class="card profile-card">
            <div class="card-body">
                <h5>Event Description</h5>
                <p class="card-text">{{event.desc}}</p>
            </div>
        </div>
        {% endif %}
        <br>
        <div>
            {% if request.user.role in 'SUPER ADMIN' %}
            <div class="container container-fluid" style="display: flex;">
                <button class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#poster_modal">Edit Event Poster</button>
                    &nbsp; &nbsp; &nbsp;
                <a href="{% url 'admin-attendance' event.id %}" id="admin-attendance-button" class="btn btn-primary"><i
                        class="fas fa-calendar-alt"></i> Attendance</a>
                
            </div>
            <br><br>
            {% endif %}
            {% if request.user.role in 'STUDENT' %}
                {% if curr_event and parts %}
                    {% if parts.attendance == 1 %} 
                        <button  class="btn btn-primary" disabled>
                            Attendance Submitted
                        </button>
                    {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" name="attendance" class="btn btn-primary" onclick='return confirm("Confirm to take attendance for {{event.e_name}}?")' >
                                Take Attendance 
                            </button>
                        </form>
                    {% endif %}
                {% else %}
                    {% if parts %}
                    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#reg_event_modal"
                        disabled>
                        Registered
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reg_event_modal">
                        Register
                    </button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
       
            {% if event.poster %}
                
                <div class="img-container">
                    <img src="{{event.poster.url}}" alt="Event Poster">
                </div>
            {% endif %}
    
    </div>
    <div class="right-side">
        <div class="card border border-info">
            <div class="card-body">
                {% if start_date not in end_date %}
                <h5>Start</h5>
                <p class="body-text">
                    <i class="fa-solid fa-calendar"></i> &nbsp; {{start_date}} ({{start_day}})
                </p>

                <p class="body-text">
                    <i class="fa-solid fa-clock"></i> &nbsp; {{start_time}}
                </p>


                <h5>End</h5>
                <p class="body-text">
                    <i class="fa-solid fa-calendar"></i> &nbsp; {{end_date}} ({{end_day}})
                </p>
                <p class="body-text">
                    <i class="fa-solid fa-clock"></i> &nbsp; {{end_time}}
                </p>
                {% else %}
                <h5>Date</h5>
                <p class="body-text">
                    <i class="fa-solid fa-calendar"></i> &nbsp; {{start_date}} ({{start_day}})
                </p>

                <h5>Time</h5>
                <p class="body-text">
                    <i class="fa-solid fa-clock"></i> &nbsp; {{start_time}} - {{end_time}}
                </p>
                {% endif %}

                <h5>Venue</h5>
                <p class="body-text">
                    <i class="fa-solid fa-location-dot"></i> &nbsp; {{event.venue}}
                </p>

                {% if event.speaker %}
                <h5>Speaker</h5>
                <p class="body-text">
                    <i class="fa-solid fa-microphone"></i> &nbsp; {{event.speaker}}
                </p>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>


<!-- Edit Poster Modal -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="poster_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Event Poster</h5>
                    <button type="button" class="btn btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        Upload New Event Poster: <br>
                        <input type="file" id="poster" name="poster">
                    </div>
                </div>
                <div class="modal-footer">
                    <input name="event_id" hidden />
                    <button type="submit" class="btn btn-success" name="poster">Yes</button>
                    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal for Register Event -->
<form method="POST">
    {% csrf_token %}
    <div class="modal fade" id="reg_event_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="register-title">Register Event</h4>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>Confirm to register in this event?</p>
                </div>
                <div class="modal-footer">
                    <input id="reg_event_id" name="event_id" hidden />
                    <button type="submit" class="btn btn-success" name="register">Yes</button>
                    <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">No</button>
                </div>
            </div>
        </div>
        <div>
</form>

{% endblock %}