{% extends "sidebar.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<br>
<input id="active" value="{{active}}" hidden>
<form method="POST">
    {% csrf_token %}
    <div id="selection" style="width:30%;">
        <div class="form-floating">
            <select id="academic_year" class="form-select" name="academic_year">
                {% for semester in semester_years %}
                <option value="{{semester.academic_year}}" {% if semester.academic_year == selected_sem.academic_year %} selected {% endif %}>{{semester.academic_year}}</option>
                {% endfor %}
            </select>
            <label for="academic_year">Academic Year</label>
            </div>
            <br>
            <div class="form-floating">
            <select id="semester" class="form-select" name="semester">
                <option value="1" {% if selected_sem.semester == 1 %} selected {% endif %}>Semester 1</option>
                <option value="2" {% if selected_sem.semester == 2 %} selected {% endif %}>Semester 2</option>
            </select>
            <label for="semester">Semester</label>
        </div>
    </div>
    <br>
    <div id="button" style="display: flex">
        {% if graduate %}
        <button class="btn btn-primary" type="submit" name="show">
            Show Graduate Student
        </button>
        {% endif %}
        {% if active %}
        <button class="btn btn-primary" type="submit" name="show">
            Show Active Student
        </button>
        {% endif %}
        <div id="gap" style="width:2%"></div>
        {% if selected_sem %}
            {% if students %}
                <button id="print-btn" class="btn btn-outline-primary" type="button" name="print" onclick="exportReportToExcel('xlsx');">
                    <i class="fa-solid fa-file-excel fa-lg"></i> &nbsp;&nbsp; Download Excel
                </button>
            {% endif %}
        {% endif %}
      
    </div>
    {% if selected_sem and not students %}
    <br>
    <p>No record for this semester.</p>
    {% endif %}
    <br>
</form>

{% if students %}
<table id="student_list" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Matric Number</th>
            <th>Program</th>
            <th>Enrolment</th>
            <th>Graduate</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{student.user.full_name}}</td>
            <td>{{student.matric_no}}</td>
            <td>{{student.get_program_display}}</td>
            <td>{{student.enrol_sem.start.month}} /{{student.enrol_sem.start.year}}</td>
            <td>{{student.grad_sem.end.month}} / {{student.grad_sem.end.year}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script type="text/javascript">
    
    function exportReportToExcel(type) {
        var data = document.getElementById("student_list");
        var academicYear = document.getElementById("academic_year").value;
        var semester = document.getElementById("semester").value;
        var active = document.getElementById("active").value;
        console.log(active)
        var file = XLSX.utils.table_to_book(data, { sheet: "Sheet1" });

        XLSX.write(file, {
            bookType: type,
            bookSST: true,
            type: 'base64',
        });

        if (active){
            XLSX.writeFile(file, academicYear + "_" + semester + "_" + "active" + ".xlsx");
        }
        else {
            XLSX.writeFile(file, academicYear + "_" + semester + "_" + "graduate" + ".xlsx");

        }
    }
</script>
{% endblock %}