{% extends "sidebar.html" %}
{% block content %}
{% load static %}
<style>
    .right-container {
        flex: 1.5;
       
    }

    .sign-in-container {
        border-radius: 10px;
        max-width: 450px;
        padding: 50px;
        margin-right: 50px;
    }

    .container {
        display:flex;
        align-items: center;
    }

    .picture-container {
        flex: 1.5;
        align-items: center;
        width: 30%;
        height:10%;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }

    
</style>
<div class ="container container-fluid">
    <div class="picture-container">
        <img src="{% static 'img/um_chinese_logo.png' %}" class="img-fluid" alt="UM logo.">
    </div>
    <div class="right-container">
        <div class="sign-in-container border container-fluid">
            <form method="POST">
                {% csrf_token %}
                <h3><center>Login</h3></center>
                <br>
                <div class="form-outline">
                    <input type="email" class="form-control" id="email" name="email" required>
                    <label class="form-label" for="name" style="margin-left: 0px;">Username</label>
                    <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 60px;"></div>
                    <div class="form-notch-trailing"></div>
                    </div>
                </div>
                <br>
                <div class="form-outline">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <label class="form-label" for="name" style="margin-left: 0px;">Password</label>
                    <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 60px;"></div>
                    <div class="form-notch-trailing"></div>
                    </div>
                </div>
                
                <div class="form-text">Please login with your siswamail and password.</div>
                <br>
                <div class="row custom_margin_top">
                    <button type='submit' class='btn btn-dark' style='width:95%; margin:10px auto;'>Sign In</button>
                </div>
                <hr></hr>
                <div>
                    <a href="{% url 'register' %}">Register New Account</a>
                    <br>
                    <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}