{% extends "sidebar.html" %}
{% block content %}
{% load static %}
<script>
    $(document).ready(function () {
        $('.manage-lecturer').click(function () {
            console.log()
            var lecturerId = $(this).data('lecturer-id');

            // Make an AJAX request to retrieve the event details
            $.ajax({
                url: '/get-lecturer-details/' + lecturerId + '/',  // URL to your Django view for fetching event details
                type: 'GET',

                success: function (response) {
                    lecturer_id = response.id;
                    $('#manage-lecturer').val(lecturer_id);
                    lecturer_name = response.name;
                    console.log(lecturer_name)
                    $('#lecturer_name').val(lecturer_name);
                    lecturer_position = response.position;
                    $('#lecturer_position').val(lecturer_position);
                    var lecturer_active = response.active
                    console.log(lecturer_active)
                    if (lecturer_active == true) {
                        $('#lecturer_active').prop('checked', true);
                    }
                    else {
                        $('#lecturer_active').prop('checked', false);
                    }

                },
                error: function (xhr, status, error) {
                    console.log(error);  // Handle the error if necessary
                }
            });
        });
    });

    function search() {
      // Declare variables
      var input, filter, table, tr, matric,name, i, txtValue;
      input = document.getElementById("search_text");
      filter = input.value.toUpperCase()
      table = document.getElementById("lecturer_table");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        // matric = tr[i].getElementsByTagName("td")[1];
        name = tr[i].getElementsByTagName("td")[0];
        // console.log(name)
        
        if (name) {
        //   matricValue = matric.textContent || matric.innerText;
          nameValue = name.textContent || name.innerText;
        //   console.log(matricValue)
          console.log(nameValue)
          if (nameValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

</script>

<div>
<h3>Head of Department: {{hod_name}}</h3>

<button class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#hod_modal">Change Head of Department</button>
</div>
<hr>
<center>
    <input id="search_text" type="text" class="form-control" style="width:50%" placeholder="Search for lecturer's name..." onkeyup="search()">
    </center>

<br>

{% if lecturers_students %}
<form method="POST">
    {% csrf_token %}
    
    <table id="lecturer_table" class="table table-striped">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Bac. Chinese Studies</th>
                <th>Master (Courserwork)</th>
                <th>Master (Research)</th>
                <th>Ph.D</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for lecturer,bac_count, cw_count, re_count, phd_count in lecturers_students %}
        <tr>
            <td>
                <div class="ms-3">
                    <p class="fw-bold mb-1">{{lecturer.user.full_name}}</p>
                    <p class="text-muted mb-0">{{lecturer.get_position_display}}</p>
                </div>
            </td>
            <td>
                {{bac_count}}
            </td>
            <td>
                {{cw_count}}
            </td>
            <td>
                {{re_count}}
            </td>
            <td>
                {{phd_count}}
            </td>
            {% if lecturer.user.is_active %}
            <td><span class="badge rounded-pill badge-success">Active</span></td>
            {% else %}
            <td><span class="badge rounded-pill badge-danger">Inactive</span></td>
            {% endif %}
            <td>
                <button type="button" class="manage-lecturer btn btn-floating" data-mdb-toggle="modal" data-mdb-target="#edit_modal"
                    data-lecturer-id="{{ lecturer.id }}">
                    <i class="fas fa-edit"></i>
                </button>
                &nbsp;
                <button type="submit" class="btn btn-danger btn-floating" value="{{lecturer.id}}" name="delete-lecturer" onclick="return confirm('Confirm to delete lecturer {{lecturer.user.full_name}}?')">
                    <i class="fas fa-trash"></i>
                    
                </button>
            </td>

        </tr>
        {% endfor %}
    </table>
</form>
{% else %}
<center><sub>No lecturer.</sub></center>
{% endif %}
<!-- Edit Modal -->
<form method="POST">
    {% csrf_token %}
    <div class="modal fade" id="edit_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Manage Lecturer Details</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-outline">
                        <input class="form-control active" id="lecturer_name" name="lecturer_name" type="text" required>
                        <label class="form-label" for="lecturer_name" style="margin-left: 0px;">Name</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 40px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-outline">
                        <select class="form-control active" id="lecturer_position" name="lecturer_position" type="text" required>
                            {% for val,type in option_position %}
                            <option value="{{val}}">{{type}}</option>
                            {% endfor %}
                        </select>
                        <label class="form-label" for="lecturer_position" style="margin-left: 0px;">Position</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 50px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="lecturer_active" name="lecturer_active"/>
                        <label class="form-check-label" for="lecturer_active">Active Lecturer</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button id="manage-lecturer" type="submit" class="btn btn-primary" name="manage-lecturer">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="modal fade" id="hod_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Head of Department</h5>
          <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating">
                
                <select class="form-select" id="new_hod" name="id">
                    {% for lecturer in lecturers %}
                    <option value="{{lecturer.id}}" {% if hod_name == lecturer.full_name %} selected {% endif %}>{{lecturer.full_name}}</option>
                    {% endfor %}
                </select>
                <label for="new_hod">Head of Department (new)</label>
            </div>
            
            <br>
          
            <label class="form-label" for="customFile">Signature:</label>
            <input type="file" class="form-control" id="signature" name="signature" accept=".jpg,.jpeg,.png" required/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="change-hod" data-mdb-ripple-init>Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}