{% extends "sidebar.html" %}
{% block content %}
{% load static %}
<head>
    <script>
        //  <link rel="stylesheet" type="text/css" href="{% static 'css/manage.css' %}"></link>
    </script>
</head>
<script>
    $(document).ready(function () {
        $('.manage-student').click(function () {
            
            var studentId = $(this).data('student-id');
            // Make an AJAX request to retrieve the event details
            $.ajax({
                url: '/get-student-details/' + studentId + '/',  // URL to your Django view for fetching event details
                type: 'GET',

                success: function (response) {
                   
                    student_id = response.id;
                    $('#manage-student').val(student_id);
                    student_name = response.name;
                    $('#student_name').val(student_name);
                    student_matric = response.matric;
                    $('#student_matric').val(student_matric);

                    // student_enrol = new Date(response.enrol)
                    // var formattedEnrol = student_enrol.toISOString().substring(0, 7);
                    // console.log(formattedEnrol)
                    // $('#student_enrol').val(formattedEnrol);

                    // student_grad = new Date(response.grad)
                    // var formattedGrad = student_grad.toISOString().substring(0, 7);
                    // $('#student_grad').val(formattedGrad);

                    student_enrol_year = response.enrol_year
                    $('#student_enrol_year').val(student_enrol_year);
                    student_enrol_sem = response.enrol_sem
                    $('#student_enrol_sem').val(student_enrol_sem);

                    student_grad_year = response.grad_year
                    $('#student_grad_year').val(student_grad_year);
                    student_grad_sem = response.grad_sem
                    $('#student_grad_sem').val(student_grad_sem);

                    student_lect = response.student_lect;
                    $('#student_lect').val(student_lect);

                    var student_active = response.active
                    if (student_active == true) {
                        $('#student_active').prop('checked', true);
                    }
                    else {
                        $('#student_active').prop('checked', false);
                    }

                },
                error: function (xhr, status, error) {
                    console.log(error);  // Handle the error if necessary
                }
            });
        });
    });

    function search() {
      // Declare variables
      var input, filter, table, tr, matric,name, i, txtValue;
      input = document.getElementById("search_text");
      filter = input.value.toUpperCase()
      table = document.getElementById("student_table");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        // matric = tr[i].getElementsByTagName("td")[1];
        name = tr[i].getElementsByTagName("td")[0];
        // console.log(name)
        
        if (name) {
        //   matricValue = matric.textContent || matric.innerText;
          nameValue = name.textContent || name.innerText;
        //   console.log(matricValue)
          console.log(nameValue)
          if (nameValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

</script>

<center>
<input id="search_text" type="text" class="form-control" style="width:50%" placeholder="Search for matric number or name..." onkeyup="search()">
</center>

<br><br>
{% if students %}
<form method="POST">
    {% csrf_token %}
    <table class="table table-striped" id="student_table">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Enrol - Graduate</th>
                <th>Advisor</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for student in students %}
        <tr>
            <td>
                <div class="ms-3">
                    <p class="fw-bold mb-1">{{student.user.full_name}}</p>
                    <p class="text-muted mb-0">{{student.matric_no}}</p>
                </div>
            </td>
            <td>
                <div class="ms-3">
                    <p class="mb-0">{{student.enrol_sem.academic_year}} Sem {{student.enrol_sem.semester}} </p>
                    <p class="mb-0">{{student.grad_sem.academic_year}} Sem {{student.grad_sem.semester}}</p>
                </div>
            </td>
            <td>
                <div class="ms-3">
                    <p class="text-muted mb-0">{{student.lecturer.get_position_display}}</p>
                    <p class="fw-bold mb-1">{{student.lecturer.user.full_name}}</p>
                </div>
            </td>
           
            {% if student.user.is_active %}
            <td><span class="badge rounded-pill badge-success">Active</span></td>
            {% else %}
            <td><span class="badge rounded-pill badge-danger">Inactive</span></td>
            {% endif %}
            <td>
                <button type="button" class="manage-student btn btn-floating" data-mdb-toggle="modal" data-mdb-target="#edit_modal"
                    data-student-id="{{ student.id }}">
                    <i class="fas fa-edit"></i>
                </button>
                &nbsp;
                <button type="submit" class="btn btn-danger btn-floating" value="{{student.id}}" name="delete-student" onclick="return confirm('Confirm to delete student {{student.matric_no}}?')">
                    <i class="fas fa-trash"></i>
                    
                </button>
            </td>

        </tr>
        {% endfor %}
    </table>
</form>
{% else %}
<center><sub>No student.</sub></center>
{% endif %}
<!-- Edit Modal -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="edit_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Manage Student Details</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-outline">
                        <input class="form-control active" id="student_name" name="student_name" type="text">
                        <label class="form-label" for="student_name" style="margin-left: 0px;">Name</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 40px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-outline">
                        <input class="form-control active" id="student_matric" name="student_matric" type="text">
                        <label class="form-label" for="art_year" style="margin-left: 0px;">Matric Number</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 90px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                    <br>
                    Enrolment
                    <div style="display: flex;">
                        <div class="form-floating" style="width:50%">
                            <select class="form-select" name="student_enrol_year" id="student_enrol_year">
                            {% for year in academic_year %}
                            <option value="{{year.academic_year}}">{{year.academic_year}}</option>
                            {% endfor %}
                            </select>
                            <label class="form-label" for="student_enrol_year" style="margin-left: 0px;">Session</label>
                        </div>
                        &nbsp;
                        <div class="form-floating" style="width:50%">
                            <select class="form-select" name="student_enrol_sem" id="student_enrol_sem">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <label class="form-label" for="student_enrol_sem" style="margin-left: 0px;">Semester</label>
                        </div>
                    </div>
                    <br>
                    Graduation
                    <div style="display: flex;">
                        <div class="form-floating" style="width:50%">
                            <select class="form-select" name="student_grad_year" id="student_grad_year">
                            {% for year in academic_year %}
                            <option value="{{year.academic_year}}">{{year.academic_year}}</option>
                            {% endfor %}
                            </select>
                            <label class="form-label" for="student_grad_year" style="margin-left: 0px;">Session</label>
                        </div>
                        &nbsp;
                        <div class="form-floating" style="width:50%">
                            <select class="form-select" name="student_grad_sem" id="student_grad_sem">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                            <label class="form-label" for="student_grad_sem" style="margin-left: 0px;">Semester</label>
                        </div>
                    </div>
                    <br>
                    <div class="form-outline">
                        <select class="form-control active" name="student_lect" id="student_lect">
                        {% for lecturer in lecturers %}
                        <option value="{{lecturer.id}}">{{lecturer.user.full_name}}</option>
                        {% endfor %}
                    </select>
                    <label class="form-label" for="student_lect" style="margin-left: 0px;">Advisor</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 50px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="student_active" name="student_active"/>
                        <label class="form-check-label" for="student_active">Active Student</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button id="manage-student" type="submit" class="btn btn-primary" name="manage-student">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}