<div class="form-outline">
    <input type="text" id="org_name" name="org_name" class="form-control">
    <label class="form-label" for="org_name" style="margin-left: 0px;">Organisation Name</label>
    <div class="form-notch">
      <div class="form-notch-leading" style="width: 9px;"></div>
      <div class="form-notch-middle" style="width: 87.2px;"></div>
      <div class="form-notch-trailing"></div>
    </div>
  </div>
  <br>
  <div class="form-outline">
    <input type="year" id="org_year" name="org_year" class="form-control">
    <label class="form-label" for="org_year" style="margin-left: 0px;">Year</label>
    <div class="form-notch">
      <div class="form-notch-leading" style="width: 9px;"></div>
      <div class="form-notch-middle" style="width: 87.2px;"></div>
      <div class="form-notch-trailing"></div>
    </div>
  </div>