{% extends "sidebar.html" %}
{% block content %}
{% load static %}
<style>
    .right-container {
        flex: 1.5;
       
    }

    .sign-in-container {
        border-radius: 10px;
        max-width: 450px;
        padding: 50px;
        margin-right: 50px;
    }

    .container {
        display:flex;
        align-items: center;
    }

    .picture-container {
        flex: 1.5;
        align-items: center;
        width: 30%;
        height:10%;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }

    
</style>
<script>
    function val_email(input) {
        email = input.value.split("@")
        if ((email[1] === 'siswa.um.edu.my' || email[1]==='um.edu.my') && email[0] !== '') {
            input.setCustomValidity('');
        }
        else {
            input.setCustomValidity('Please use siswamail to register');
        }
    }

</script>
<div class ="container container-fluid">
    <div class="picture-container">
        <img src="{% static 'img/um_chinese_logo.png' %}" class="img-fluid" alt="UM logo.">
    </div>
    <div class="right-container">
        <div class="sign-in-container border container-fluid">
            <form method="POST">
                {% csrf_token %}
                <h3><center>Register</h3></center>
                <br>
                <div class="form-outline">
                    <input type="email" class="form-control" id="email" name="email" onchange="val_email(this)" required>
                    <label class="form-label" for="email" style="margin-left: 0px;">Email (Will be used as username)</label>
                    <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 60px;"></div>
                    <div class="form-notch-trailing"></div>
                    </div>
                </div>
                <br>
                <div class="form-outline">
                    <input type="password" class="form-control" id="password" name="password" onchange="val_pass(this,0)" required>
                    <label class="form-label" for="password" style="margin-left: 0px;">Password</label>
                    <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 60px;"></div>
                    <div class="form-notch-trailing"></div>
                    </div>
                </div>                
                <br>
                <div class="form-outline">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" onchange="val_pass(this,1)" required>
                    <label class="form-label" for="confirm_password" style="margin-left: 0px;">Confirm Password</label>
                    <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 60px;"></div>
                    <div class="form-notch-trailing"></div>
                    </div>
                </div>                
                <br>
                
                <div class="row custom_margin_top">
                    <button type='submit' class='btn btn-dark' name="register" style='width:95%; margin:10px auto;'>Register</button>
                </div>
                <hr>
                <div>
                    <a href="{% url 'login' %}">Back to Login</a>
                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}