{% extends "sidebar.html" %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/verify.css' %}">
<!DOCTYPE html>

<h1>{{page_name}}</h1>
<hr />
<div class="container-fluid table-responsive">
    
    <h3> Article </h3>
    {% if arts %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Type</th>
                <th>Platform</th>
                <th>Author</th>
                <th>File</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for art in arts %}
            <tr>
                <td>{{art.title}} <br></td>
                <td>{{art.year}}</td>
                <td>{{art.type}}</td>
                <td>{{art.platform}}</td>
                <td>{{art.file_by.user.full_name}}</td>
                <td><a href="{{ art.file.url }}">Download File</a></td>
                <td>
                    {% if art.status == 1 %}
                    <span class="badge badge-pill badge-success">Approved</span>
                    {% elif art.status == 0 %}
                    <span class="badge badge-pill badge-danger">Rejected</span>
                    {% else %}
                    <span class="badge badge-pill badge-secondary">Pending</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <sub>No uploaded article.</sub>
    {% endif %}
<br><br>
    <h3> Event Committee </h3>
    {% if events %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Event</th>
                <th>Year</th>
                <th>Category</th>
                <th>Type</th>
                <th>Comittee List</th>
                <th>Submitted by</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{event.e_name}} <br> {{event.c_name}}</td>
                <td>{{event.year}}</td>
                <td>{{event.get_type_display}}</td>
                {% if event.internal in 'True' %}
                <td>Internal</td>
                {% else %}
                <td>External</td>
                {% endif %}
                <td><a href="{{ event.file.url }}">Download File</a></td>
                <td>{{event.file_by.user.full_name}}</td>
                
                <td>
                    {% if event.status == 1 %}
                    <span class="badge badge-pill badge-success">Approved</span>
                    {% elif event.status == 0 %}
                    <span class="badge badge-pill badge-danger">Rejected</span>
                    {% else %}
                    <span class="badge badge-pill badge-secondary">Pending</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <sub>No uploaded event committee file.</sub>
    {% endif %}
    <br><br>
    <h3> Organisation Committee </h3>
    {% if orgs %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Organisation</th>
                <th>Year</th>
                <th>Type</th>
                <th>Comittee List</th>
                <th>Submitted by</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for org in orgs %}
            <tr>
                <td>{{org.name}}</td>
                <td>{{org.year}}</td>
                {% if org.internal in 'True' %}
                <td>Internal</td>
                {% else %}
                <td>External</td>
                {% endif %}
                <td><a href="{{ org.file.url }}">Download File</a></td>
                <td>{{org.file_by.user.full_name}}</td>
                <td>
                    {% if org.status == 1 %}
                    <span class="badge badge-pill badge-success">Approved</span>
                    {% elif org.status == 0 %}
                    <span class="badge badge-pill badge-danger">Rejected</span>
                    {% else %}
                    <span class="badge badge-pill badge-secondary">Pending</span>
                    {% endif %}
                </td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <sub>No uploaded organisation committee file.</sub>
    {% endif %}
</div>

{% endblock %}