{% extends "sidebar.html" %} {% block content %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/uploads.css' %}">
<h3>Article Uploads</h3>
<button
  type="button"
  class="btn btn-outline-primary"
  data-toggle="modal"
  data-target="#upload_article"
>
<i class="fas fa-upload"></i>
  Upload
</button>
<br><br>
<div class="container-fluid table-responsive">
    <h3> Uploaded Articles </h3>
    {% if arts %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Type</th>
                <th>Platform</th>
                <th>Author</th>
                <th>File</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for art in arts %}
            <tr>
                <td>{{art.title}} <br></td>
                <td>{{art.year}}</td>
                <td>{{art.type}}</td>
                <td>{{art.platform}}</td>
                <td>{{art.file_by.user.full_name}}</td>
                {% if art.status!=1 %}
                <td><a href="{{ art.file.url }}">Download File</a></td>
                {% else %}
                <td></td>
                {% endif %}
                <td>
                    {% if art.status == 1 %}
                    <span class="badge rounded-pill bg-success">Approved</span>
                    {% elif art.status == 0 %}
                    <span class="badge rounded-pill bg-danger">Rejected</span>
                    {% else %}
                    <span class="badge rounded-pill bg-secondary">Pending</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <sub>No uploaded article.</sub>
    {% endif %}
<br><br>
</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="upload_article" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload Articles</h5>
            <button
              type="button"
              class="btn btn-close"
              data-dismiss="modal"
              aria-label="Close"
            >
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text">Title</span>
              <input
                type="text"
                name="art_title"
                id="art_title"
                class="form-control"
                required
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Publication Year</span>
              <input
                type="year"
                name="art_year"
                id="art_year"
                class="form-control"
                required
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Type</span>
              <input
                type="text"
                name="art_type"
                id="art_type"
                class="form-control"
                required
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Platform</span>
              <input
                type="text"
                name="art_platform"
                id="art_platform"
                class="form-control"
                required
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Competition</span>
              <input
                type="text"
                name="art_comp"
                id="art_comp"
                class="form-control"
              />
            </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Award</span>
                <input
                  type="text"
                  name="art_awd"
                  id="art_awd"
                  class="form-control"
                />
              </div>
            
          
            <div class="input-group mb-3">
              
              <input type="file" name="art_file" required />
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              
              <button type="submit" class="btn btn-primary" name="art_submit">
                Upload
              </button>
          </div>
      </div>  
      </div>
  </div>     
  </form>
  
  
  <br>
  {% endblock %}