<br>
{% if tab_data.arts %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Type</th>
            <th>Platform</th>
            <th>Author</th>
            {% if tab_data.pending or tab_data.rejected %}
            <th>File</th>
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for art in tab_data.arts %}
        <tr>
            <td>{{art.title}} <br></td>
            <td>{{art.year}}</td>
            <td>{{art.type}}</td>
            <td>{{art.platform}}</td>
            <td>{{art.file_by.user.full_name}}</td>
            {% if tab_data.pending or tab_data.rejected %}
            <td><a href="{{ art.file.url }}">Download File</a></td>
            <td>
                <div class="button-container">
                <input value="{{art.id}}" name="art" hidden>
                <button
                    type="submit"
                    class="approve-button btn btn-success"
                    name="approve"
                    >
                    Approve
                </button>   
                {% if not tab_data.rejected %}            
                <button
                    type="submit"
                    class="reject-button btn btn-danger"
                    name="reject"
                    >
                    Reject
                </button>
                {% endif %}
            </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<sub>No documents.</sub>
{% endif %}