<br>
{% if tab_data.arts %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Type</th>
            <th>Platform</th>
            <th>Award</th>
            <th>Competition</th>
            <th>Status</th>
            <th>Author</th>
            {% if tab_data.pending or tab_data.rejected %}
            <th>File</th>
            <th>Action</th>
            {% endif %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for art in tab_data.arts %}
        <tr>
            <td>{{art.title}} <br></td>
            <td>{{art.date.year}}</td>
            <td>{{art.type}}</td>
            <td>{{art.platform}}</td>
            {% if art.award %}
            <td>{{art.award}}</td>
            <td>{{art.comp}}</td>
            {% else %}
            <td>-</td>
            <td>-</td>
            {% endif %}
            {% if art.published == 1 %}
            <td>Published</td>
            {% elif art.published == 0 %}
            <td>Accepted</td>
            {% else %}
            <td>Awarded</td>
            {% endif %}
            <td>{{art.student.user.full_name}}</td>
            {% if tab_data.pending or tab_data.rejected %}
            <td><a href="{{ art.file.url }}">Download File</a></td>
            <td>
                <div class="button-container">
                <button
                    type="submit"
                    class="approve-button btn btn-success"
                    name="art_approve"
                    value="{{art.id}}"
                    >
                    Approve
                </button>   
                {% if not tab_data.rejected %}            
                <button
                    type="submit"
                    class="reject-button btn btn-danger"
                    name="art_reject"
                    value="{{art.id}}"
                    >
                    Reject
                </button>
                {% endif %}
            </div>
            </td>
            {% endif %}
            <td>
                <button 
                class="btn btn-floating" 
                type="submit" 
                name="art_delete" 
                value="{{art.id}}" 
                onclick="return confirm('Confirm to delete {{art.title}} by {{art.file_by.user.full_name}}?')"
                >
                <i class="fas fa-trash"></i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<sub>No documents.</sub>
{% endif %}