{% extends "sidebar.html" %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/verify.css' %}">
<!DOCTYPE html>

<h1>{{page_name}}</h1>
<hr />
<div class="container-fluid table-responsive">
    <form method='POST'>
        {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Event</th>
                <th>Year</th>
                <th>Category</th>
                <th>Type</th>
                <th>Comittee List</th>
                <th>Submitted by</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{event.e_name}} <br> {{event.c_name}}</td>
                <td>{{event.year}}</td>
                <td>{{event.get_type_display}}</td>
                {% if event.internal in 'True' %}
                <td>Internal</td>
                {% else %}
                <td>External</td>
                {% endif %}
                <td><a href="{{ event.file.url }}">Download File</a></td>
                <td>{{event.file_by.user.full_name}}</td>
                {% if 'ADMIN' in request.user.get_role_display  and event.status != 0 and event.status != 1 %}
                <td>
                    <div class="button-container">
                    <input value="{{event.id}}" name="event" hidden>
                    <button
                        type="submit"
                        class="approve-button btn btn-success"
                        name="approve"
                        >
                        Approve
                    </button>               
                    <button
                        type="submit"
                        class="reject-button btn btn-danger"
                        name="reject"
                        >
                        Reject
                    </button>
                </div>
                </td>
                {% else %}
                <td>
                    {% if event.status == 1 %}
                    <span class="badge rounded-pill bg-success">Approved</span>
                    {% elif event.status == 0 %}
                    <span class="badge rounded-pill bg-danger">Rejected</span>
                    {% else %}
                    <span class="badge rounded-pill bg-secondary">Pending</span>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
</div>

{% endblock %}